@import './utils';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-dark-color;
  color: $text-color;
}

body {
  padding: 2rem 15rem;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}